<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="./vendor/autoload.php" failOnNotice="true" failOnWarning="true" stopOnError="false" stopOnFailure="false" stopOnIncomplete="false" stopOnSkipped="false">
    <testsuites>
        <testsuite name="all">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src/</directory>
        </include>
    </source>
    <logging>
        <junit outputFile="build/report.junit.xml"/>
        <testdoxHtml outputFile="build/coverage.html"/>
        <testdoxText outputFile="build/coverage.txt"/>
    </logging>
</phpunit>
